/* general */

body {
    margin: 0px 0px 0px 0px;
    font-family: Tahoma;
    font-size:12px;
    color:#888;
}

.container {
	margin:20px;
	width:1000px;
}

.edit_error_class {
  display: block;
  color: red;
}

.footer h4 {
  	font-size : 10px;
        color : #888;
}

.footer h4 a {
	color : #888;
}

/* sidebar */
.sidebar ul {
	margin:0;
	padding:0;
}
	 

.sidebar ul li {
	margin:0;
	padding:0;
	list-style:none;
}

.sidebar ul li a {
	display:block;
	padding:3px;
	text-indent:30px;
	text-decoration:none;
}

.sidebar ul li span {
	display:block;
	padding:3px;
	text-indent:30px;
	text-decoration:none;
	border : 1px solid #eee;
	border-left : 5px solid #69c;
	background-color : #eee;
}

.sidebar ul li a:hover {
	background-color: #69c;
}


/* header */

.header {
	margin:5px;
}

.header .topmenu {
    float:right;
}

.header .topimage {
    float:left;
    width:100px;
}

.header .name {
    font-family: Times, serif;
    float:left;
    font-size : 48px;
    color: #369;
    padding-left:20px;
}

.header .short {
    clear:left;
    font-size : 12px;
    font-family:Tahoma;
    color: #888;
}

/* news */

.news {
    clear:left; 
    width:600px;
    float:left;
    margin-bottom: 10px;
}

.news .title {
    font-size:14px;
    font-weight:bold;
    color :#369;
    border-bottom : 1px solid #369;
}

.news .author {
    font-style:italic;
}

.news .summary {
    font-size:11px;
}

/* book */
.book {
    clear:left;
    width:600px;
    float:left;
    margin-bottom: 10px;
}
.book .cover {
    float:left;
    width:100px;
    height:150px;
}
.book .description {
    width:490px;
    float:right;
    height:150px;
    padding-left: 10px;
}
.book .title {
    font-size:14px;
    font-weight:bold;
    color :#369;
}

.book .author {
    font-weight:bold;
}

.book .summary {
    font-style:italic;
    font-size:11px;
}

/* filter */

.filter {
    width:600px;
    float:left;
    padding-left:20px;
    margin-bottom:20px;
}

.filter .searchbutton {
    position:relative;
    top:5px;
}

.filter .author select {
    position:relative;
    top:3px;
}
.filter .search {
    float:left;
}

.filter .author {
    float:left;
    padding-left:20px;
}

.content {
    margin-bottom : 20px;
}

.content h3 {
    color : #036;
    border-bottom : 1px solid #CCC;
    margin:2px 2px 2px 2px;
}

.content h4 {
    font-size:10px;
    margin:2px 2px 2px 2px;
    text-align: right;
}

.content h4 i {
    color:#CCC;
    font-style: italic;
}


.news {
}

.news h3 {
    color : #036;
    border-bottom : 1px solid #CCC;
    margin:2px 2px 2px 2px;
}

.news h4 {
    font-size:10px;
    margin:2px 2px 2px 2px;
    text-align: right;
}

.news h4 i {
    color:#CCC;
    font-style: italic;
}

.book {
    clear:both;
}
.book .image {
    width:100px;
    height:160px;
    border:1px solid #CCC;
    float:left;
}

.book .info {
    float:left;
    width:550px;
    margin-left:20px;
}
.book .info .title {
    color : #69c;
    font-size:12px;
    font-weight : bold;
    padding-bottom:5px;
}

.registerForm {
    padding : 40px 40px 40px 40px;
    border:1px solid #CCC;
    background-color: #EEE;
    width:400px;
    border-radius:20px;
    moz-border-radius:20px;
    webkit-border-radius:20px;
}

.registerForm input {
    font-size:16px;
}

.loginForm {
    padding : 40px 40px 40px 40px;
    border:1px solid #CCC;
    background-color: #EEE;
    width:400px;
    border-radius:20px;
    moz-border-radius:20px;
    webkit-border-radius:20px;
}

.loginForm input {
    font-size:16px;
}

.loginForm .loginbutton {
    float:right;
}

.feedback {
    color : red;
}

.userinfo {
    float:right;
}

.userinfo a {
    padding-right : 15px;
}
.booklist {
    width:100%;
}
.booklist h3 {
    margin: 0px;
    color:#036;
}

.booklist h3 a {
	text-decoration:none;
}
.booklist h4 {
    margin: 0px;
    margin-bottom:5px;
}

.booklist .book img {
	width: 25px;
	height: 45px;
	float:left;
}
.booklist .book .info {
	float:left;

}

.bookdetail {
    width:100%;
}
.bookdetail h3 {
    margin: 0px;
    color:#036;
}

.bookdetail h4 {
    margin: 0px;
    margin-bottom:5px;
}

.bookdetail .book img {
	float:left;
}
.bookdetail .book .info {
	float:left;
	width:400px;
}

.authorlist {
    width:100%;
}
.authorlist h3 {
    margin: 0px;
    color:#036;
}

.authorlist h3 a {
	text-decoration:none;
}
.authorlist h4 {
    margin: 0px;
    margin-bottom:5px;
}

.authorlist .author .info {
	float:left;

}
.author {
	float:left;

}

.author h3 {
	margin:0px;
}

.author h4 {
	margin:0px;
	color: #036;
	width:550px;
}

.author h4 a {
	text-decoration:none;
}

.authorlist .author img {
	width: 45px;
	height: 45px;
	float:left;
}

.messages {
    color:red;
    padding : 5px;
}